<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MaxNumberValue" value="999999"/>
    <add key="MaxFileSizeInMegabytes" value="1024" />
    <add key="MaxWordsCountInString" value="20"/>
    <add key="WordsForStringGenerator" value="Apple;a;as;aa;abc;az;aq;aw;ax;ae;ad;ac;ar;af;av;at;ag;av;ab;ah;ay;au;aj;an;am;ak;ai;ao;al;ap;Something;Cherry;is;the;best;Banana;is;yellow"/>
    <add key="OutputFilePath" value="UnsortedContent.txt"/>
  </appSettings>
</configuration>