################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContentGenerator/obj/Debug
/ContentSorter/bin/Debug
/ContentSorter/obj/Debug
/SharedLib/obj/Debug
/ContentGenerator/bin/Debug
/SharedLib/bin/Debug
/.vs/ContentSorter/v14
/ContentGenerator/bin/x64/Debug
/ContentGenerator/obj/x64/Debug
/ContentSorter/bin/x64/Debug
/ContentSorter/obj/x64/Debug
/SharedLib/bin/x64/Debug
/SharedLib/obj/x64/Debug
/ContentGenerator/obj/Release
/ContentGenerator/bin/Release
/ContentSorter/obj/Release
/SharedLib/obj/Release
/SharedLib/bin/Release
/Generator/bin
/Generator/obj
/Sorter/bin
/Sorter/obj
/.vs/ConveyorBucketSorter/v14
/Shared/bin
/Shared/obj
