<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="InputFile" value="UnsortedContent.txt"/>
    <add key="OutputFile" value="SortedContent.txt"/>
    <!-- UseRealWordOptimization enables optimization for strings that generated with real words.
         Program creates dictionary of unique words and helps to seperate files more quickly. If
         words in strings completly random the performance wood be decreased.-->
    <add key="UseRealWordOptimization" value="true" />
  </appSettings>
</configuration>